<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise do Binário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analyse.css') }}">
    <script src="{{ url_for('static', filename='js/render.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gdb.js') }}"></script>
</head>

<body onload="setSessionCookie('{{ instance_id }}'); renderSection('cpu')">
    <div class="header">
        <div class="navbar">
            <div class="menu">
                <button onclick="renderSection('cpu')">CPU</button>
                <button onclick="renderSection('breakpoints')">Breakpoints</button>
                <button onclick="renderSection('functions')">Functions</button>
                <button onclick="renderSection('hex')">Hex</button>
            </div>

            <div class="status-indicator">
                <div class="status-box" id="status-box"></div>
                <span id="status-text">Paused</span>
            </div>
            

            <div class="debug-controls">
                <button onclick="restartGDB()">Restart (F2)</button>
                <button onclick="sendDebugCommand('step')">Step (F10)</button>
                <button onclick="sendDebugCommand('stepi')">StepI (CRTL + F10)</button>
                <button onclick="sendDebugCommand('next')">Next (F11)</button>
                <button onclick="sendDebugCommand('nexti')">NextI (CRTL + F11)</button>
                <button onclick="sendDebugCommand('run')">Run</button>
                <button onclick="sendDebugCommand('continue')">Continue (F9)</button>
            </div>
        </div>
    </div>

    <div class="container" id="render-area"></div>
</body>

</html>
